<form #form="ngForm" (ngSubmit)="onSubmit(form)">

  <input type="text" ngModel #fileName=ngModel name="fileName" placeholder="Give File Name">
  <br>
  <input name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>

  <!-- <button type="button" class="btn btn-success btn-s" (click)="upload()">
    <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload
  </button> -->
<input type="submit" value="Submit">
</form>