
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title ><h3> {{article.Title}}</h3></mat-card-title>
      <mat-card-subtitle>{{article.AuthorId}}| {{article.CreatedTime}} | Science, Experience</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="article-body">
      <p>
          {{article.Body}}
      </p>
    </mat-card-content>
    <mat-card-actions class="test">
      <a  mat-raised-button href="#">Read Full Story</a>
    </mat-card-actions>
  </mat-card>