<div class="nav-bar">
  <div class="container">

    

  <div *ngIf="authentication.checkToken()">
      <a mat-button color="red" routerLink="/articles"> Articles</a>

    <a mat-button color="white" routerLink="/manager">Hello {{authentication.getName()}}!</a>
    <a mat-button color="red" style="cursor:pointer" (click)="logout()"> Logout</a>
  </div>

  <div *ngIf="!authentication.checkToken()">
      <a mat-button color="red" routerLink="/articles"> Articles</a>
    
    <a mat-button color="red" routerLink="/registration">Registration</a>
    <a mat-button color="white" routerLink="/login"> Login </a>
  </div>
</div>
</div>
