<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>User Login</span>
    </mat-toolbar-row>
  </mat-toolbar>

<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <div class="example-container">
    <mat-form-field>
      <input matInput type="email" ngModel #email=ngModel name="email" placeholder="Enter email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" ngModel #password=ngModel name="password" placeholder="Password">
    </mat-form-field>

    <button mat-raised-button color="primary">Login</button>
  </div>
</form>
