<ul> 
  <li> <a  routerLink="/manager/infoview">View</a></li>
  <li> <a  routerLink="/manager/infoedit">Edit</a></li>
  <!-- <li>  <a [routerLink]="['/manager', {outlets: { manager-one: ['manager-one'] }}]">Secondscreen</a></li>
  <li>  <a [routerLink]="['/manager', {outlets: { manager-two: ['manager-two'] }}]">Secondscreen</a></li> -->
</ul>
<hr>
<router-outlet> </router-outlet>
